.pagina {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.pagina2 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #161414;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(124, 118, 118);
}

body{ 
  background-color: rgb(85, 165, 165);
}


.title{ 

  text-align: center;
  margin-top: 40px;
}
.title{
  text-align: center;
  color:#e3d5d5
}

p {
  max-width: 600px;
  text-align: justify;
}
.afbeelding1 {
position:absolute;
margin: 20px;
top: 50px;
right: 100px;
width: 300px;
}

.afbeelding2 {
  position:absolute;
  margin: 20px;
  top: 50px;
  right: 100px;
  width: 300px;
  }


.afbeelding4 {
  position: absolute;
  margin: 50px;
  border-radius: 50px;
  right: 100px;
  width: 300px;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

.afbeelding3 {
  width: 300px; 
}
.binarybonanza {
  position: absolute;
  position: center;
}