.pagina {
  position: absolute; 
  bottom: 0; 
  right: 0;
  margin: 10px; 

  position: absolute;  /* dat het geen andere afbeelingen hinderet */
  bottom: 0; /* benden plaatsen */ 
  right: 0; /* naar rechts plaatsen */ 
  margin: 10px; 
}

.pagina2 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #161414;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(124, 118, 118);
}

body{ 
  background-color: rgb(85, 165, 165);
  height: 150vh;
}

.title{ 

  text-align: center;
  margin-top: 40px;
}
.title{
  text-align: center;
  color:#e3d5d5
}

p {
  max-width: 800px;
  text-align: justify;
}
.index1 {
position:absolute;
margin: 20px;
top: 50px;
right: 100px;
width: 300px;
}

.binairstelsel1 {
  position:absolute;
  margin: 20px;
  top: 50px;
  right: 100px;
  width: 300px;
  }



.kleurmodellen2 {
  position: absolute;
  margin: 20px;
  top: 50px;
  right: 100px; 
  width: 300px;
}

<<<<<<< HEAD
.compressie1  {
  position: relative; 
  margin: 20px; 
  display: block; 
  left: 50%; 
  transform: translateX(-50%); 
  width: 300px;  
}
=======
>>>>>>> efaccad91f7e2bdf613d4442d7576ca04c76b672


.compressie2 {
  position: absolute;
  margin: 20px;
  top: 50px;
  right: 100px; 
  width: 300px;
}


.bitmap1 {
  position:absolute;
  margin: 20px;
  top: 200px;
  right: 100px;
  width: 300px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(85, 165, 165);
  text-align: left;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}